.label-search {
    font-size: 25px;
    margin: 5px;
}

.label-filter {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 16px;
}

.filter-class {
    font-family: Dancing Script;
    font-size: 22px;
}

input[type=text] {
    width: 100%;
    font-size: 16px;
    margin: 5px;
}

.submit-btn {
	padding: 0.5em 3.1em;
    margin: 10px;
	border: none;
	border-radius: 7px;
  font-family: Poppins;
	font-size: 0.8em;
	font-weight: 700;
    font-size: 14px;
	letter-spacing: 1.3px;
	color: #fff;
	background-color: #c9abc7;
	box-shadow: 2px 2px 25px -7px #4c4c4c;
	cursor: pointer;
}

.submit-btn:active {
  transform: scale(0.97);
}

button:hover {
    background-color: lightgrey;
}

/* .submit-btn {
    border-radius: 6px;
    border-style: 1px solid lightslategray;
    padding: 8px;
    margin: 5px;
    font-family: sans-serif;
    font-size: 14px;
}
*/

.filterContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.innerContainer1 {
    margin: 10px;
    text-align: left;
}

.innerContainer2 {
    margin: 10px;
    text-align: left;
}

.SearchForm {
    text-align: center;
}